LAB7V2/ZAD1/Client_Console/Connected Services/GeneratorService/Generator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://tempuri.org/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GeneratorLiczb">
        <s:complexType />
      </s:element>
      <s:element name="GeneratorLiczbResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GeneratorLiczbResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GeneratorLiczbSoapIn">
    <wsdl:part name="parameters" element="tns:GeneratorLiczb" />
  </wsdl:message>
  <wsdl:message name="GeneratorLiczbSoapOut">
    <wsdl:part name="parameters" element="tns:GeneratorLiczbResponse" />
  </wsdl:message>
  <wsdl:portType name="GeneratorSoap">
    <wsdl:operation name="GeneratorLiczb">
      <wsdl:input message="tns:GeneratorLiczbSoapIn" />
      <wsdl:output message="tns:GeneratorLiczbSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GeneratorSoap" type="tns:GeneratorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratorLiczb">
      <soap:operation soapAction="http://tempuri.org/GeneratorLiczb" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GeneratorSoap12" type="tns:GeneratorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GeneratorLiczb">
      <soap12:operation soapAction="http://tempuri.org/GeneratorLiczb" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Generator">
    <wsdl:port name="GeneratorSoap" binding="tns:GeneratorSoap">
      <soap:address location="http://localhost:26390/Generator.asmx" />
    </wsdl:port>
    <wsdl:port name="GeneratorSoap12" binding="tns:GeneratorSoap12">
      <soap12:address location="http://localhost:26390/Generator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>